body {
    text-align: center;
    margin: auto 10%;
}

section {
    margin-top: 50px;
}

.hidden {
    display: none;
}

img {
    max-width: 500px;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 0 5% 0;
}